@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@variant dark {
  --color-font-primary: oklch(0.8 0 0);
  --color-font-secondary: oklch(1 0 0);
  --color-font-third: oklch(0.6217 0.0074 286.18);

  --color-background: oklch(0.2006 0.002 286.22);

  --color-header: oklch(0.2316 0.0038 286.1 / 70%);
  --color-header-keyline: oklch(0.3802 0.005 286.16 / 70%);

  --color-element-background: oklch(0 0 0);
  --color-element-border: oklch(1 0 0);

  --color-theme-button-background: oklch(0.3802 0.005 286.16 / 70%);
  --color-theme-button-border: oklch(0.9184 0.0017 247.84);
}

@theme {
  /* Colors */
  --color-font-primary: oklch(0.2745 0.0038 286.1);
  --color-font-secondary: oklch(0 0 0);
  --color-font-third: oklch(0.5399 0.0077 286.14);
  --color-font-link: oklch(0.5629 0.1933 256.16);

  --color-background: oklch(0.9707 0.0027 286.35);

  --color-header: oklch(0.9707 0.0027 286.35 / 70%);
  --color-header-keyline: oklch(0.2316 0.0038 286.1 / 20%);

  --color-element-background: oklch(1 0 0);
  --color-element-border: transparent;

  --color-theme-button-background: oklch(0.9324 0.0067 286.27 / 70.2%);
  --color-theme-button-border: oklch(0.296 0.0046 325.69);

  --color-player: oklch(0.3802 0.005 286.16 / 70%);
  --color-element-player: oklch(0.9707 0.0027 286.35 / 80%);
  --color-hover-player: oklch(1 0 0 / 48%);
  --color-button-player: oklch(0.4065 0.005 286.18 / 72.6%);

  --color-b-100: oklch(0.329 0 0);
  --color-b-200: oklch(0.2046 0 0);
  --color-b-300: oklch(0.2727 0 0);

  --color-g-100: oklch(0.9153 0.0017 247.84);
  --color-g-200: oklch(0.8377 0.0026 228.79);
  --color-g-300: oklch(0.6764 0 0);

  --color-or-100: oklch(0.6905 0.056 65.74);
  --color-or-200: oklch(0.7382 0.1437 66.63);
  --color-or-300: oklch(0.7738 0.1401 59.81);
  --color-or-600: oklch(0.6303 0.1624 51.32);
  --color-or-700: oklch(0.5338 0.1361 51.96);
  --color-or-800: oklch(0.4961 0.0724 64.07);
  --color-or-900: oklch(0.3613 0.0506 60.43);

  --color-gradient: 97deg,
    oklch(0.6624 0.1867 249.84),
    oklch(0.672 0.2258 307.22) 42%,
    oklch(0.6461 0.2124 11.95) 74%,
    oklch(0.6874 0.1749 52.79);

  /* Spacings */
  --spacing-qp: 25%;
  --spacing-hp: 50%;

  --spacing-x: 1024px;

  --spacing-ot: 0.1rem;
  --spacing-t: 0.125rem;
  --spacing-q: 0.25rem;
  --spacing-o: 1rem;

  --ff: 45deg;

  --transition: all 0.5s;

  /* Font animate */
  --animate-up: slideUp 1s ease-out both;
  --animate-down: slideDown 1s ease-out both;
  --animate-left: slideLeft 1s ease-out both;
  --animate-right: slideRight 1s ease-out both;

  /* Laptop animate */
  --animate-open: open 3s forwards;
  --animate-avatar: avatar 1s forwards 1s;
  --animate-button: buttonPush 1s forwards 1s;
  
  /* Backlight animate */
  --animate-backlight: 
    backlightIntro 0.7s ease-out,
    backlightLoop 4s ease-in-out 0.7s infinite;
  --animate-backlight-exit: backlightExit 0.7s ease-out forwards;

  /* Slider animate */
  --animate-slider-show: sliderShow .75s forwards;
  --animate-circle-show: circleShow .75s forwards;
  --animate-circle-hidden: circleHidden .75s forwards;
  --animate-slide-show: slideShow 1.25s ease-in-out;
  --animate-slide-hidden: slideHidden .15s forwards;
  --animate-button-show: buttonShow .5s ease-in-out;
  --animate-button-hidden: buttonHidden .25s forwards;
  --animate-fill-progress: fillProgress 10s linear forwards;

  --animate-interference: interference 0.2s infinite alternate;

  @keyframes sliderShow {
    from {
      display: block;
    }
    to {
      display: flex;
    }
  }

  @keyframes circleShow {
    from {
      bottom: 0;
      width: 105px;
      border: 2rem solid var(--color-font-link);
    }
    to {
      width: 100%;
      bottom: 2rem;
      border: 0px solid var(--color-font-link);
    }
  }

  @keyframes circleHidden {
    0% {
      width: 100%;
    }
    50% {
      width: 55px;
    }
    100% {
      width: 0;
      padding-inline: 0;
    }
  }

  @keyframes slideShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideHidden {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes buttonShow {
    from {
      width: 0;
      transform: translateX(-65px);
    }
    to {
      width: 56px;
      transform: translateX(0px);
    }
  }

  @keyframes buttonHidden {
    from {
      width: 56px;
      opacity: 1;
    }
    to {
      width: 0;
      opacity: 0;
    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(50px);
      opacity: 0;
    }
  }

  @keyframes slideLeft {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(50px);
      opacity: 0;
    }
  }

  @keyframes open {
    0% {
      transform: perspective(1900px) rotateX(-88.5deg);
    }
    100% {
      transform: perspective(1000px) rotateX(0deg);
    }
  }

  @keyframes avatar {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes buttonPush {
    0% {
      right: -2px;
    }
    50% {
      right: -1px;
    }
    100% {
      right: -2px;
    }
  }

  @keyframes backlightIntro {
    0% {
      width: 0%;
      height: 0%;
    }
    100% {
      width: 100%;
      height: 110px;
    }
  }

  @keyframes backlightLoop {
    0% {
      height: 100px;
    }
    50% {
      height: 80px;
    }
    100% {
      height: 100px;
    }
  }

  @keyframes backlightExit {
    0% {
      width: 110%;
      height: 110px;
    }
    100% {
      width: 0%;
      height: 0%;
    }
  }

  @keyframes fadeUpScale {
    0% {
      transform: translateY(100%) scale(0.8);
      opacity: 0;
    }
    50% {
      transform: translateY(-10px) scale(1.1);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  @keyframes fillProgress {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  @keyframes interference {
    100% {
      background-position:
        50% 0,
        60% 50%;
    }
  }
}

@utility u1 {
  @apply flex items-center justify-center;
}

@utility u2 {
  @apply w-2 h-2 relative border-2 rounded-full bg-g-200 transform-[rotate(var(--ff))];
}

@utility u3 {
  @apply w-t h-2 bg-black rounded-t-3xl rounded-b-none mt-2;
}

@utility u4 {
  @apply w-7 h-7 
  rounded-(--spacing-hp) 
  bg-or-800 
  border-2 
  border-black 
  shadow-[inset_var(--spacing-t)_var(--spacing-t)_1px_var(--color-or-100),_-2px_0_var(--color-or-900),_-2px_0_0_1px_black];
}

@utility u5 {
  @apply content-[''] w-ot absolute rounded-md bg-black;
}

@utility u6 {
  @apply absolute w-t h-[1.6rem] bg-black;
}

@utility u7 {
  @apply w-3 h-3 rounded-(--spacing-hp) bg-or-800 border-2 border-black inset-shadow-[1.2px_1.25px_1px_var(--color-or-100)];
}

@utility u8 {
  @apply w-auto h-t bg-b-200;
}

@utility u9 {
  @apply w-8 h-4 border-2 border-(--color-b-200) bg-b-100 -mt-1 -z-1;
}

/* end of 404 */

@utility u10 {
  @apply transition-all duration-200 ease-in-out;
}

@utility u11 {
  @apply block w-5 h-[2px] my-[6px] mx-auto rounded-sm bg-font-secondary duration-200;
}

@utility u12 {
  @apply flex items-center justify-start;
}

@utility u13 {
  @apply w-[3px] h-8 block bg-g-200 absolute rounded-xs md:hidden;
}

@utility u14 {
  @apply py-1 w-full md:max-w-75;
}

@utility u15 {
  @apply w-full h-full;
}

@utility u16 {
  @apply flex flex-col;
}

@utility u17 {
  @apply mb-5 top-5 sticky rounded-full bg-player backdrop-blur-md self-end bottom-8;
}

@utility u18 {
  @apply u10 
    w-5 h-5 
    inline-flex 
    box-border 
    items-center 
    justify-center 
    rounded-full 
    cursor-pointer

    peer-checked:border-[1.5px] 
    peer-checked:border-theme-button-border 
    peer-focus:outline 
    peer-focus:outline-[rgba(0,125,250,0.6)] 
    peer-focus:outline-[2px] 
    peer-focus:outline-offset-[2px];
}

@utility u19 {
  @apply w-4 h-4 block rounded-full;
}

@utility u20 {
  @apply relative

    after:content-['']
    after:absolute
    after:left-0
    after:bottom-[2px]
    after:h-[1px]
    after:bg-current
    after:w-full
    after:scale-x-0
    after:origin-center
    after:transition-transform

    group-hover:after:scale-x-100
    group-focus:after:scale-x-100
    group-active:after:scale-x-100;
}

@utility u21 {
  @apply relative
    -left-4
    opacity-0
    transform
    -scale-x-100
    transition-all
    fill-font-link
                        
    group-hover:left-0
    group-hover:scale-x-100
    group-hover:opacity-100
    group-focus:left-0
    group-focus:scale-x-100
    group-focus:opacity-100
    group-active:left-0
    group-active:scale-x-100
    group-active:opacity-100;
}

@utility u22 {
  @apply u15 u16 relative max-w-x;
}

@utility u23 {
  @apply pt-11 pb-4 w-full;
}

@utility u24 {
  @apply flex snap-x snap-mandatory transition-transform duration-500;
}

@utility u25 {
  @apply rounded-2xl snap-start overflow-hidden bg-element-background flex-[0_0_100%] transition-opacity;
}

@utility u26 {
  @apply u16 p-10 pt-15 md:pt-10 gap-3 w-full;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply u10 text-font-primary bg-background font-(family-name:--primary-font-family);
  }

  section {
    @apply u1 min-h-170 h-screen;
  }

  h2 {
    @apply p-5 md:px-0 pt-10 text-4xl md:text-5xl opacity-0 font-bold text-font-third;
  }

  h3 {
    @apply text-3xl md:text-4xl font-bold text-font-third;
  }

  p {
    @apply p-5 md:p-0 text-base/7 md:text-2xl/7 font-bold leading-none text-font-third font-(family-name:--primary-font-family);
  }

  em {
    @apply not-italic text-font-secondary;
  }

  a {
    @apply text-font-link;
  }

  ul {
    @apply mx-1 gap-4 font-(family-name:--secondary-font-family);
  }

  li {
    @apply w-full md:w-auto;
  }

  svg {
    @apply u10 cursor-pointer text-font-primary hover:text-font-secondary;
  }

  span {
    @apply font-(family-name:--primary-font-family);
  }

  button {
    @apply cursor-pointer hover:u10 hover:text-font-secondary;
  }
}