@use '../variables' as *;

.files {
  transition: $none;
  margin-bottom: 15px;
}

.file {
  width: 70px;
  height: 80px;
  cursor: $pointer-cursor;
  position: $relative-position;
  display: $inline-block-display;
  animation: fadeIn .2s ease-out forwards;

  .body {
    top: 3px;
    left: 8px;
    width: 54px;
    height: 74px;
    border-radius: 5px;
    position: $absolute-position;
    background-color: $white-color;
    clip-path: polygon(0% 0%, 75% 0%, 100% 20%, 100% 100%, 0% 100%);
  }

  .fold {
    top: 3px;
    left: 48px;
    width: 13px;
    height: 14px;
    border: 1px solid #ccc;
    transform: rotate(180deg);
    position: $absolute-position;
    background-color: $white-color;
    border-radius: 0px 5px 0px 0px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 110%);
  }

  .line {
    top: 17px;
    left: 20px;
    width: 30px;
    position: $relative-position;
  }

  hr {
    margin: 5px 0px 5px 0px;
    border: 1px solid #19b1f8;
    position: $relative-position;

    &:first-child {
      width: 75%;
      margin-left: auto;
    }

    &:last-child {
      width: 75%;
      margin-right: auto;
    }
  }
}

.folder {
  display: $flex-display;
  align-items: $center-align;
  justify-content: $center-align;
}

.folder button {
  border: $none;
  background: $none;
  cursor: $pointer-cursor;

  &:focus,
  &:active {
    animation: wow 1s forwards;
  }

  .fold {
    top: 5px;
    width: 30px;
    height: 12px;
    background-color: #19bef8;
    position: $relative-position;
    border-radius: 5px 12px 0px 0px;
    clip-path: polygon(135% 100%, 0% 100%, 0% -100%);
  }
  
  .body {
    bottom: 3px;
    width: 74px;
    height: 54px;
    border-radius: 5px;
    display: $flex-display;
    align-items: $center-align;
    position: $relative-position;
    justify-content: $center-align;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #19b1f8, #1d75f2);
  }

  .body::before {
    content: "";
    width: 65px;
    height: 45px;
    border-radius: 2px;
    background: $white-color;
    position: $absolute-position;
  }

  .body::after {
    content: "";
    width: 65px;
    bottom: 4px;
    height: 40px;
    position: $absolute-position;
    background: linear-gradient(to bottom, #19b1f8, #1d75f2);
  }
}

#hidden {
  animation: fadeOut .5s ease-in forwards;
}