@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: var(--null);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes open {
  0% {
    transform: perspective(1900px) rotateX(-88.5deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg);
  }
}

@keyframes draw {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}