@use 'variables' as *;

@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: $null;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes open {
  0% {
    transform: perspective(1900px) rotateX(-88.5deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg);
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: $null;
  }
}

@keyframes wow {
  20% {
    scale: 0.8;
  }

  30% {
    scale: 1;
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  65% {
    transform: translateY(4px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    scale: 1;
  }
}

@keyframes fadeIn {
  from {
    width: 0px;
    display: none;
    transform: translateY(50px);
  }
  to {
    width: 70px;
    display: inline-block;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    width: 70px;
    display: inline-block;
    transform: translateY(0);
  }
  to {
    width: 0px;
    display: none;
    transform: translateY(50px);
  }
}