.laptop {
  transform: scale(0.8);
}

.screen {
  width: 518px;
  height: 318px;
  margin: 0 auto;
  padding: 9px 9px 23px 9px;
  transform-origin: 50% 100%;
  display: var(--flex-display);
  transform-style: preserve-3d;
  align-items: var(--center-align);
  position: var(--relative-position);
  border-radius: var(--twenty-pixels);
  justify-content: var(--center-align);
  animation: open 1s forwards alternate;
  transform: perspective(1900px) rotateX(-88.5deg);
  box-shadow: inset 0 0 0 2px #c8cacb, inset 0 0 0 10px var(--black-color);
  background-image: linear-gradient(
    15deg,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
}

.screen::before {
  top: -3px;
  content: "";
  width: 518px;
  height: 12px;
  border-radius: 5px 5px;
  transform: rotateX(90deg);
  position: var(--absolute-position);
  background: linear-gradient(#979899, transparent);
}

.header {
  top: 8px;
  width: 100px;
  height: 12px;
  border-radius: 0 0 6px 6px;
  left: var(--half-percentages);
  transform: translate(-50%, -0%);
  position: var(--absolute-position);
  background-color: var(--black-color);
}

.screen::after {
  left: 2px;
  content: "";
  bottom: 2px;
  height: 24px;
  width: 530px;
  border-radius: 0 0 20px 20px;
  position: var(--absolute-position);
  background: linear-gradient(to bottom, #272727, #0d0d0d);
}

.keyboard {
  z-index: 9;
  width: 630px;
  height: 24px;
  margin-top: -10px;
  border: solid #a0a3a7;
  border-width: 1px 2px 0 2px;
  border-radius: 2px 2px 12px 12px;
  position: var(--relative-position);
  box-shadow: inset 0 -2px 8px 0 #6c7074;
  background: radial-gradient(circle at center, #e2e3e4 85%, #a9abac 100%);
}

.keyboard::after {
  content: "";
  width: 120px;
  height: 10px;
  top: var(--null);
  margin-left: -60px;
  background: #e2e3e4;
  border-radius: 0 0 10px 10px;
  left: var(--half-percentages);
  position: var(--absolute-position);
  box-shadow: inset 0 0 4px 2px #babdbf;
}

.keyboard::before {
  content: "";
  width: 40px;
  height: 2px;
  bottom: -2px;
  background: 0 0;
  margin-left: -10px;
  border-radius: 0 0 3px 3px;
  left: var(--half-percentages);
  position: var(--absolute-position);
  box-shadow: -270px 0 #272727, 250px 0 #272727;
}