.page {
  font-size: 20px;
  background: var(--white-color);
  border-radius: 10px;
  line-height: 1.2rem;
  font-family: var(--mahalo-font);
  box-sizing: border-box;
  background-size: 100% 1.2rem;
  position: var(--relative-position);
  padding: 1.4rem 0.5rem 0.3rem 4.5rem;
  background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
}

.page::before,
.page::after {
  width: 40%;
  z-index: -1;
  content: "";
  bottom: 10px;
  height: 10px;
  transition: all 0.3s ease;
  position: var(--absolute-position);
}

.margin {
  left: 3.3rem;
  top: var(--null);
  border-left: 1px solid #d88;
  height: var(--max-percentages);
  position: var(--absolute-position);
}

.page p {
  line-height: 1.4em;
  padding-bottom: 1.2rem;
  color: var(--fourthy-color);
}

.page p span {
  opacity: var(--null);
  display: inline-block;
}

.page p span.animate {
  animation: draw 4s forwards, opacity forwards;
}

.page p span:nth-child(1).animate { animation-delay: 0s; }
.page p span:nth-child(2).animate { animation-delay: 4s; }