:root {
  --primary-color: #5050e5;
  --secondary-color: #cef565;
  --thirty-color: #e2e8f0;
  --fourthy-color: #262e33;
  --white-color: #fff;
  --black-color: #000;
  --transparent-color: transparent;
  --border: 2px solid var(--black-color);
  --flex-display: flex;
  --center-align: center;
  --pointer-cursor: pointer;
  --all-transition: all .4s;
  --absolute-position: absolute;
  --relative-position: relative;
  --null: 0;
  --twenty-pixels: 20px;
  --sixty-pixels: 60px;
  --half-percentages: 50%;
  --max-percentages: 100%;
}

.dark {
  --primary-color: #35dfdf;
  --secondary-color: #42005a;
}

html, body {
  margin: var(--null);
  padding: var(--null);
  width: var(--max-percentages);
  height: var(--max-percentages);
}

body {
  color: var(--primary-color);
  display: var(--flex-display);
  font-family: var(--soleil-font);
  transition: var(--all-transition);
  background-color: var(--secondary-color);
}

header {
  z-index: 1;
  position: fixed;
  top: var(--null);
  align-items: start;
  bottom: var(--null);
  flex-direction: column;
  width: var(--sixty-pixels);
  display: var(--flex-display);
  padding: var(--twenty-pixels);
  justify-content: space-between;
  background-color: var(--secondary-color);
}

header .icon {
  flex-direction: column;
  gap: var(--twenty-pixels);
  width: var(--sixty-pixels);
  display: var(--flex-display);
  align-items: var(--center-align);
  justify-content: var(--center-align);
}

header nav {
  display: grid;
  padding-top: 30px;
  align-items: start;
  width: var(--sixty-pixels);
  height: var(--max-percentages);
  justify-content: var(--center-align);
}

header .item {
  font-size: 27px;
  transform: rotate(-90deg);
  font-family: var(--proxima-nova-font);
}

header button {
  border: none;
  font-size: 25px;
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--transparent-color);
  font-family: var(--proxima-nova-font);
}

header svg {
  fill: var(--primary-color);
}

main {
  height: 100vh;
  padding-left: 100px;
  width: var(--max-percentages);
}

footer {
  padding: 15px;
  right: var(--null);
  justify-content: end;
  display: var(--flex-display);
  position: var(--absolute-position);
}

h1 {
  line-height: 1em;
  font-size: var(--sixty-pixels);
  color: var(--transparent-color);
  margin-top: var(--twenty-pixels);
  margin-bottom: var(--twenty-pixels);
  animation: slideIn 2s ease forwards;
  font-family: var(--proxima-nova-font);
  -webkit-text-stroke: 1px var(--thirty-color);
}

h1 span {
  color: var(--primary-color);
  -webkit-text-stroke: 2px;
}

p {
  font-size: 17px;
  color: var(--thirty-color);
}

section {
  height: 100vh;
  display: var(--flex-display);
}

section .box {
  display: var(--flex-display);
  width: var(--half-percentages);
  align-items: var(--center-align);
  justify-content: var(--center-align);
}

#box {
  border-bottom: none;
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  background-color: #262e33;
}

#about #box {
  border-top: none;
  background-color: #262e33;
  border-bottom: var(--border);
}

#box p {
  animation: slideIn 2s ease forwards;
}

svg {
  stroke: #555;;
  stroke-width: 0.5;
  width: 250px;
}

svg path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 2s ease infinite alternate;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 0;
  }
}