@use '../variables' as *;

.switch {
  width: 4em;
  height: 2.2em;
  font-size: 17px;
  border-radius: 30px;
  display: inline-block;
  position: $relative-position;
}

.switch input {
  width: $null;
  height: $null;
  opacity: $null;
}

.slider {
  cursor: pointer;
  transition: 0.4s;
  top: $null;
  overflow: hidden;
  left: $null;
  right: $null;
  bottom: $null;
  border-radius: 30px;
  background-color: #5050e5;
  position: $absolute-position;
}

.slider:before {
  content: "";
  left: 0.5em;
  width: 1.2em;
  bottom: 0.5em;
  height: 1.2em;
  transition: 0.4s;
  border-radius: 20px;
  position: $absolute-position;
  box-shadow: inset 8px -4px #ffd365;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
}

.switch input:checked + .slider {
  background-color: #35dfdf;
}

.switch input:checked + .slider:before {
  transform: translateX(1.8em);
  box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
  width: 5px;
  height: 5px;
  transition: $all-transition;
  position: $absolute-position;
  background-color: $white-color;
  border-radius: $half-percentages;
}

.star-1 {
  top: 0.5em;
  left: 2.5em;
}

.star-2 {
  top: 1.2em;
  left: 2.2em;
}

.star-3 {
  left: 3em;
  top: 0.9em;
}

.switch input:checked ~ .slider .star {
  opacity: $null;
}

.cloud {
  width: 3.5em;
  left: -1.1em;
  bottom: -1.4em;
  opacity: $null;
  transition: $all-transition;
  position: $absolute-position;
}

.switch input:checked ~ .slider .cloud {
  opacity: 1;
}