.custom-container {
  width: 12rem;
  aspect-ratio: 16 / 9;
  border-radius: 0.75rem;
  border: 4px solid var(--primary-color);
}

.custom-content {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}

.custom-circle {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  border-radius: 9999px;
  border: 4px solid var(--primary-color);
}

.custom-label {
  width: 100%;
  height: 2.5rem;
  border: 4px solid var(--primary-color);
  border-radius: 0.25rem;
  cursor: pointer;
  display: block;
}

.custom-label:has(:checked) {
  transform: scaleX(-1);
}

.custom-input {
  display: none;
}

.custom-switch {
  width: 100%;
  height: 100%;
  position: relative;
}

.custom-arrow {
  width: 0;
  height: 0;
  z-index: 20;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 20px solid var(--primary-color);
  position: relative;
}

.custom-arrow-inner {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  top: -20px;
  left: -18px;
}

.custom-skew-left {
  width: 24px;
  height: 36px;
  z-index: 10;
  position: absolute;
  top: 9px;
  left: 0;
  border-right: 2px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  transform: skewY(39deg);
}

.custom-skew-right {
  width: 25px;
  height: 36px;
  z-index: 10;
  position: absolute;
  top: 9px;
  left: 24px;
  border-right: 4px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  transform: skewY(-39deg);
}

.custom-line {
  width: 1.5rem;
  height: 0.25rem;
  flex-shrink: 0;
  background-color: var(--primary-color);
  border-radius: 9999px;
}