
paleta:
#cef565 - lime
#4000f5 - blue
#42005a - purple
#3df3c2 - teal

fonts:
Quicksand
Proxima Nova

font-size: 60px;
font-weight: bold;
color: transparent;
-webkit-text-stroke: 2px black;
text-stroke: 2px black;